/.vscode

/GlobusSatProject
/hal
/satellite-subsystems

!/GlobusSatProject/src/SubSystemModules
!/GlobusSatProject/src/*.h

!/hal/at91/include
!/hal/freertos/include
!/hal/hal/hal/include
!/hal/hcc/include
!/satellite-subsystems/satellite-subsystems/include